<div>
  <div *ngIf="allCity$ | async as allCity">
    <h2>odaberite grad</h2>
    <select [(ngModel)]="selectedCity" (change)="onCityChange()">
      <option [ngValue]="city" *ngFor="let city of allCity">
        {{city.name}}
      </option>
    </select>
  </div>
</div>

<div *ngIf="selectedCity">
  <h2>odaberite ulicu</h2>
  <select [(ngModel)]="selectedStreet">
    <option *ngFor="let street of selectedCity.streets" (ngValue)="street">
      {{street.name}}
    </option>
  </select>
  <button type="submit" [disabled]="!selectedCity || !selectedStreet" (click)="saveStreetAndCity()">Save</button>
</div>