.selected{
    color: red;
}

li.list-group-item:hover {
    border: 2px solid aqua;
  }

  .container-tariff {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
