<div *ngIf="allTariff$ | async as allTariff">
  <ul *ngFor="let tariff of allTariff">
    <li (click)="selectTariff(tariff)" [ngClass]="{ 'selected': tariff.id === selectedTariff.id }">
      name:{{tariff.sku}} <br>
      speed:{{tariff.speed}} <br>
      <div *ngFor="let price of tariff.priceList">
        Price:{{price.price}} <br>
        ContactDuration:{{price.contactDuration}} Month
      </div>
    </li>
  </ul>
  <button [routerLink]="['/like']" [disabled]="!isTariffSelected">Next</button>
</div>