<div class="like-container">
  <p class="like-text">Da li vam se svidja izbor telefona?</p>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <button class="btn btn-primary" (click)="like()">Like</button>
        <span class="ml-2">{{ likeCount }}</span>
  
        <button class="btn btn-danger ml-3" (click)="dislike()">Dislike</button>
        <span class="ml-2">{{ dislikeCount }}</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <input class="form-control mb-3" [(ngModel)]="commentText">
        <button class="btn btn-success form-control" (click)="addComment()">Add Comment</button>
      </div>
    </div>
  
  
    <div class="row" *ngIf="allComm$ | async as allComm">
      <div class="col-12">
        <div *ngIf="comments">
          <h3 class="mt-4">Comments:</h3>
          <div class="row">
            <div class="col-3 mb-3" *ngFor="let com of allComm">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">{{ com.commentText }}</p>
                </div>
                <div class="card-footer" *ngIf="userComment$ | async as userComment">
                  <p *ngFor="let user of userComment">
                    Name: {{ user.username }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  
</div>